* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
 
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first {
  display: flex;
}

.div {
  height: 100px;
  width: 100px;

  border: 2px solid rgb(156, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color:rgb(184, 184, 179)
}
.text-div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
  font-size: 25px;
  font-weight: 100px;
  color: rgb(17, 17, 145);
}
.btn {
  height: 2em;
  width: 10em;
  background-color: red;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
.winner{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
  font-size: 25px;
  font-weight: 100px;
  color: green;
}
#A0,
#D3,
#G6 {
  border-left: none;
}

#C2,
#F5,
#I8 {
  border-right: none;
}

#G6,
#H7,
#I8 {
  border-bottom: none;
}

#A0,
#B1,
#C2 {
  border-top: none;
}
